.preview__wrapper {
  padding-top: 119px;
  padding-bottom: 57px;
  text-align: center;
  overflow-x: hidden;

  @include vp-1023 {
    padding-top: 69px;
  }

  @include vp-767 {
    padding-top: 60px;
  }
}

.preview h2 {
  margin: 0 auto -6px;
  font-family: $ff-cormorant-garamond;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;

  @include vp-1023 {
    margin-bottom: -3px;
  }
}

.preview__button-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

  @include vp-1023 {
    margin-top: -3px;
    margin-bottom: 0;
  }
}

.preview__button-item {
  list-style: none;
}

.preview__button-item button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: $color-transparent;
}

.preview__button-item svg {
  @include vp-1023 {
    width: 37px;
    height: 17px;
  }
}

.preview__catalog-link {
  margin-top: -11px;
  max-width: 87px;

  &::after {
    width: 92%;
    left: 4px;
    bottom: 10px;
  }

  @include vp-1023 {
    margin-top: -10px;

    &::after {
      bottom: 5px;
    }
  }
}

.preview__new-products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 51px;

  @include vp-1023 {
    margin-top: 45px;
    justify-content: center;
  }

  @include vp-767 {
    margin-top: 35px;
  }
}

.preview__new-product-item {
  display: none;
  list-style: none;
  margin-right: 2.6%;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(-n+4) {
    display: block;
  }

  @include vp-1023 {
    margin-right: 4.6%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(-n+4) {
      display: none;
    }

    &:nth-child(-n+2) {
      display: block;
    }

    @include vp-767 {
      margin-right: 7%;
    }
  }
}

.preview__image-container {
  height: auto;
  max-width: 270px;

  @include vp-1023 {
    max-width: 324px;
  }

  @include vp-767 {
    max-width: 97%;
  }
}

.preview__new-product-item:hover p,
.preview__new-product-item:hover span {
  opacity: 0.7;
}

.preview__new-product-item img {
  object-fit: cover;
}

.preview p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;

  @include vp-1023 {
    margin-top: 22px;
  }
}

.preview__new-product-item a {
  font-weight: 500;
}

.preview__new-product-item p {
  @include vp-767 {
    margin-top: 16px;
  }
}

.preview__new-product-item--amethyst p {
  @include vp-1023 {
    padding-left: 15px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 8px;
  }
}

.preview__new-product-item--amethyst span {
  @include vp-767 {
    padding-right: 8px;
  }
}

.preview span {
  font-weight: 700;
  font-size: 14px;
}

.preview__toggle-list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;

  @include vp-1023 {
    margin-top: 40px;
  }

  @include vp-767 {
    width: 62px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.preview__toggle-item span {
  display: none;

  @include vp-767 {
    font-weight: 500;
    display: inline;
  }
}

.preview__toggle-item button {
  cursor: pointer;
  color: $color-zorba;
  border: none;
  background-color: $color-transparent;
}

.preview__toggle-item--current button {
  color: $color-wood-bark;
}

.preview__toggle-item {
  list-style: none;
  display: none;

  &:nth-child(-n+3) {
    display: block;
  }

  @include vp-1023 {
    display: block;
    margin-right: 1px;
  }

  @include vp-767 {
    display: none;

    &:nth-child(-n+3) {
      display: none;
    }

    &:first-child,
    &:last-child {
      display: block;
      margin-left: 10px;
    }
  }

  @include vp-767 {
    &:first-child,
    &:last-child {
      margin-left: 0;
    }
  }
}
