.product-catalog__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 35px;

  @include vp-1023 {
    margin-top: 49px;
    grid-row-gap: 32px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 41px;
    grid-row-gap: 24px;
  }
}

.product-catalog__item {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.product-catalog__image-container {
  height: 272px;

  @include vp-1023 {
    height: 208px;
  }

  @include vp-767 {
    height: 136px;
  }
}

.product-catalog__image-container img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.product-catalog__item p {
  @include vp-767 {
    margin-top: 15px;
  }
}

.product-catalog__item:hover p,
.product-catalog__item:hover span {
  opacity: 0.7;
}

.product-catalog__toggle-list {
  padding: 0;
  margin: 68px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include vp-1023 {
    margin-top: 69px;
  }

  @include vp-767 {
    margin-top: 41px;
    margin-bottom: 65px;
  }
}

.product-catalog__toggle-item {
  list-style: none;
  margin-left: 1px;

  @include vp-767 {
    margin-right: 10px;
  }
}

.product-catalog__toggle-item:last-child {
  margin-right: 0;
}

.product-catalog__toggle-item button,
.product-catalog__prev-button-item button {
  color: $color-zorba;
  border: none;
  background-color: $color-transparent;
}

.product-catalog__toggle-item--current button,
.product-catalog__prev-button-item button {
  color: $color-wood-bark;
}

.product-catalog__prev-button-list {
  padding: 0;
  margin: 0;
  margin-bottom: 75px;
  margin-top: -21px;
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    display: none;
  }
}

.product-catalog__prev-button-item {
  list-style: none;
}

.product-catalog__prev-button-item button {
  padding: 0;
  padding-left: 2px;
}
